  #voter {
    background-color:#84595e;
    width: 50px;
    float: left;
  }
  .vote {
    color: #2e2432;
    background-color:#59ace9;
  }
  .down, .up{
    color: #7f4c38;
    background-color:#cea27d;
  }
  